<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Tache ajoutée</h1>
    <p th:text="'id: ' + ${tachea.id}" />
    <p th:text="'content: ' + ${tachea.content}" />
    <a href="/tachea">Submit another message</a>
</body>
</html>
